/*#htmlbackground{*/
/*    background: url("https://images.unsplash.com/photo-1530482817083-29ae4b92ff15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=44f4aebbd1e1371d5bf7dc22016c5d29&w=1000&q=80") no-repeat center center fixed;*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*}*/

#b0 {
    /*margin-left: 25%;*/
    /*margin-right: 25%;*/
    margin: auto;
    width: 500px;
    height: 500px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/64/Tic-tac-toe.png");
}

td {
    width: auto;
    height: auto;
    background-repeat:no-repeat;
    background-size:100% 100%;
}

